<ion-app>
    <ion-split-pane contentId="main-app">
        <ion-menu contentId="main-app-menu">
            <ion-header>
                <ion-toolbar class="ion-padding" color="home">
                    <img alt="icon" height="28" src="./assets/img/s.png"/>
                    <ion-title class="menu-title">Stud.UCLouvain</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content id="main-app-menu">
                <ion-list scroll=true>
                    <ion-item (click)="openRootPage(p)" *ngFor="let p of pages" button>
                        <ion-avatar slot="start">
                            <img alt="Pictogramme" height="35" src={{p.icon}} width="35"/>
                        </ion-avatar>
                        <ion-label> {{p.title | translate}} </ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-app"></ion-router-outlet>
    </ion-split-pane>
</ion-app>