<ion-header>
    <ion-toolbar color="home" style="text-align: center;">
        <img alt="logo" height="40" src="../../../assets/img/header2.png">
    </ion-toolbar>
</ion-header>


<ion-content *ngIf="(userS.hasCampus() === false)">
    <p horizontal="center" style="font-size:20px;">{{'HOME.WHICH' | translate}}</p>
    <ion-list class="other" ngDefaultControl>
        <ion-radio-group [(ngModel)]="where">
            <ion-item class="other" id="LLN">
                <ion-label>Louvain-la-Neuve</ion-label>
                <ion-radio checked slot="start" value="LLN"></ion-radio>
            </ion-item>
            <ion-item class="other">
                <ion-label>Woluwe</ion-label>
                <ion-radio slot="start" value="Woluwe"></ion-radio>
            </ion-item>
            <ion-item class="other">
                <ion-label>Mons</ion-label>
                <ion-radio slot="start" value="Mons"></ion-radio>
            </ion-item>
            <ion-item class="other">
                <ion-label>Tournai</ion-label>
                <ion-radio disabled slot="start" value="Tournai"></ion-radio>
            </ion-item>
            <ion-item class="other">
                <ion-label>St-Gilles</ion-label>
                <ion-radio disabled slot="start" value="StGilles"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-row center>
        <ion-col class="ion-text-center">
            <ion-button (click)="updateCampus()" id="okbutton" shape="round">{{'HOME.OK' | translate}}</ion-button>
        </ion-col>
    </ion-row>
</ion-content>

<!--------------------- CAMPUS CHOSEN : HOME MENU ------------------------------------------------------------>
<ion-content *ngIf="userS.hasCampus()" class="hM">
    <ion-grid *ngIf="platform.isPortrait()" class="portrait">
        <!----------------------------------------------------------GRID FOR PORTRAIT------------------------------------------------------------------------------->
        <ion-row>
            <ion-col class="ion-text-center" size="4">
                <img (click)="changePage(studiesPage)" alt="etudes" horizontal="center" id="studies"
                     src="./assets/img/studies.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.ETUDES' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
                <img (click)="changePage(libraryPage)" alt="biblio" horizontal="center" id="lib"
                     src="./assets/img/libraries.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.LIBRARY' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
                <img (click)="changePage(helpDeskPage)" alt="aide" horizontal="center" id="support"
                     src="./assets/img/support.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.HELP' | translate}}</ion-text>
                </b></p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center" size="4">
                <img (click)="changePage(newsPage)" alt="logo" horizontal="center" id="news"
                     src="./assets/img/news.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.NEWS' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
                <img (click)="changePage(eventPage)" alt="louvinfo" horizontal="center" id="event"
                     src="./assets/img/events.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.EVENTS' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
                <img (click)="changePage(sportPage)" alt="sport" horizontal="center" id="sport"
                     src="./assets/img/sports.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.SPORTS' | translate}}</ion-text>
                </b></p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center" size="4">
                <img (click)="changePage(mapPage)" alt="carte" horizontal="center" id="map" src="./assets/img/map.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.MAP' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
                <img (click)="changePage(restoPage)" alt="resto" horizontal="center" id="food"
                     src="./assets/img/resto.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.REST' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
                <img (click)="changePage(mobilityPage)" alt="voiture" horizontal="center"
                     id="mobility"
                     src="./assets/img/mobility.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.MOBILITY' | translate}}</ion-text>
                </b></p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center" size="4">
                <img (click)="changePage(paramPage)" alt="param" horizontal="center" id="settings"
                     src="./assets/img/settings.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'MENU.SETTINGS' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
                <img (click)="changePage(guindaillePage)" alt="guindaille" horizontal="center"
                     id="guindaille"
                     src="./assets/img/guindaille.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'MENU.GUINDAILLE' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
                <img (click)="emergency()" alt="urgence" horizontal="center" id="emergency"
                     src="./assets/img/urgence.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'MENU.URG' | translate}}</ion-text>
                </b></p>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col offset="2" size="8">
                <img (click)="openUCL('http://www.uclouvain.be')" alt="uclouvain" class="uclouvain" id="ucl"
                     src="./assets/img/uclouvain.png" vertical="center"/>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!----------------------------------------------------------GRID FOR LANDSCAPE------------------------------------------------------------------------------->
    <ion-grid *ngIf="platform.isLandscape()" class="landscape">
        <ion-row>
            <ion-col class="ion-text-center" size="3">
                <img (click)="changePage(studiesPage)" alt="etudes" horizontal="center" id="studies"
                     src="./assets/img/studies.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.ETUDES' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="3">
                <img (click)="changePage(libraryPage)" alt="biblio" horizontal="center" id="lib"
                     src="./assets/img/libraries.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.LIBRARY' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="3">
                <img (click)="changePage(helpDeskPage)" alt="aide" horizontal="center" id="support"
                     src="./assets/img/support.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.HELP' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="3">
                <img (click)="changePage(newsPage)" alt="logo" horizontal="center" id="news"
                     src="./assets/img/news.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.NEWS' | translate}}</ion-text>
                </b></p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center" size="3">
                <img (click)="changePage(eventPage)" alt="louvinfo" horizontal="center" id="event"
                     src="./assets/img/events.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.EVENTS' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="3">
                <img (click)="changePage(sportPage)" alt="sport" horizontal="center" id="sport"
                     src="./assets/img/sports.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.SPORTS' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="3">
                <img (click)="changePage(mapPage)" alt="carte" horizontal="center" id="map" src="./assets/img/map.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.MAP' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="3">
                <img (click)="changePage(restoPage)" alt="resto" horizontal="center" id="food"
                     src="./assets/img/resto.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.REST' | translate}}</ion-text>
                </b></p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center" size="3">
                <img (click)="changePage(mobilityPage)" alt="voiture" horizontal="center"
                     id="mobility"
                     src="./assets/img/mobility.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'HOME.MOBILITY' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="3">
                <img (click)="changePage(paramPage)" alt="param" horizontal="center" id="settings"
                     src="./assets/img/settings.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'MENU.SETTINGS' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="3">
                <img (click)="changePage(guindaillePage)" alt="guindaille" horizontal="center"
                     id="guindaille"
                     src="./assets/img/guindaille.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'MENU.GUINDAILLE' | translate}}</ion-text>
                </b></p>
            </ion-col>
            <ion-col class="ion-text-center" size="3">
                <img (click)="emergency()" alt="urgence" horizontal="center" id="emergency"
                     src="./assets/img/urgence.png"/>
                <p horizontal="center"><b>
                    <ion-text>{{'MENU.URG' | translate}}</ion-text>
                </b></p>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col offset="3" size="6">
                <img (click)="openUCL('http://www.uclouvain.be')" alt="uclouvain" class="uclouvain" class="five"
                     id="ucl"
                     src="./assets/img/uclouvain.png" vertical="center"/>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row class="ion-justify-content-center">
            <ion-col>
                <ion-button color="uclouvain" fill="clear" href='https://www.facebook.com/UCLouvain/' size="small"
                            target="_blank">
                    <ion-icon name="logo-facebook"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="uclouvain" fill="clear" href='https://twitter.com/UCLouvain_be' size="small"
                            target="_blank">
                    <ion-icon name="logo-twitter"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="uclouvain" fill="clear"
                            href='https://www.linkedin.com/school/universite-catholique-de-louvain/'
                            size="small" target="_blank">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="uclouvain" fill="clear" href='https://www.instagram.com/uclouvain' size="small"
                            target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="uclouvain" fill="clear" href='https://www.youtube.com/user/universitedelouvain'
                            size="small"
                            target="_blank">
                    <ion-icon name="logo-youtube"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>