<ion-header>
  <ion-toolbar color="home" style="text-align: center;">
    <img height="40" alt="logo" src="../../../assets/img/header2.png">
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="(userS.hasCampus() === false)">
  <p horizontal="center" style="font-size:20px;">{{'HOME.WHICH' | translate}}</p>
  <ion-list ngDefaultControl class="other">
    <ion-radio-group [(ngModel)]="where">
      <ion-item class="other" id="LLN">
        <ion-label>Louvain-la-Neuve</ion-label>
        <ion-radio slot="start" value="LLN" checked></ion-radio>
      </ion-item>
      <ion-item class="other">
        <ion-label>Woluwe</ion-label>
        <ion-radio slot="start" value="Woluwe"></ion-radio>
      </ion-item>
      <ion-item class="other">
        <ion-label>Mons</ion-label>
        <ion-radio slot="start" value="Mons"></ion-radio>
      </ion-item>
      <ion-item class="other">
        <ion-label>Tournai</ion-label>
        <ion-radio slot="start" value="Tournai" disabled></ion-radio>
      </ion-item>
      <ion-item class="other">
        <ion-label>St-Gilles</ion-label>
        <ion-radio slot="start" value="StGilles" disabled></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-row center>
    <ion-col class="ion-text-center">
      <ion-button shape="round" (click)="updateCampus()" id="okbutton">{{'HOME.OK' | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<!--------------------- CAMPUS CHOSEN : HOME MENU ------------------------------------------------------------>
<ion-content *ngIf="userS.hasCampus()" class="hM">
  <ion-grid *ngIf="platform.isPortrait()" class="portrait">
    <!----------------------------------------------------------GRID FOR PORTRAIT------------------------------------------------------------------------------->
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <img alt="etudes" src="./assets/img/studies.png" horizontal="center" (click)="changePage(studiesPage)"
          id="studies" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.ETUDES' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <img alt="biblio" src="./assets/img/libraries.png" horizontal="center" (click)="changePage(libraryPage)"
          id="lib" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.LIBRARY' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <img alt="aide" src="./assets/img/support.png" horizontal="center" (click)="changePage(helpDeskPage)"
          id="support" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.HELP' | translate}}</ion-text>
          </b></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <img alt="logo" src="./assets/img/news.png" horizontal="center" (click)="changePage(newsPage)" id="news" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.NEWS' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <img alt="louvinfo" src="./assets/img/events.png" horizontal="center" (click)="changePage(eventPage)"
          id="event" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.EVENTS' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <img alt="sport" src="./assets/img/sports.png" horizontal="center" (click)="changePage(sportPage)" id="sport" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.SPORTS' | translate}}</ion-text>
          </b></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <img alt="carte" src="./assets/img/map.png" horizontal="center" (click)="changePage(mapPage)" id="map" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.MAP' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <img alt="resto" src="./assets/img/resto.png" horizontal="center" (click)="changePage(restoPage)" id="food" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.REST' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <img alt="voiture" src="./assets/img/mobility.png" horizontal="center" (click)="changePage(mobilityPage)"
          id="mobility" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.MOBILITY' | translate}}</ion-text>
          </b></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <img alt="param" src="./assets/img/settings.png" horizontal="center" (click)="changePage(paramPage)"
          id="settings" />
        <p horizontal="center"><b>
            <ion-text>{{'MENU.SETTINGS' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <img alt="guindaille" src="./assets/img/guindaille.png" horizontal="center" (click)="changePage(guindaillePage)"
          id="guindaille" />
        <p horizontal="center"><b>
            <ion-text>{{'MENU.GUINDAILLE' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <img alt="urgence" src="./assets/img/urgence.png" horizontal="center" (click)="emergency()" id="emergency" />
        <p horizontal="center"><b>
            <ion-text>{{'MENU.URG' | translate}}</ion-text>
          </b></p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="8" offset="2">
        <img alt="uclouvain" class="uclouvain" vertical="center" src="./assets/img/uclouvain.png"
          (click)="openUCL('http://www.uclouvain.be')" id="ucl" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <!----------------------------------------------------------GRID FOR LANDSCAPE------------------------------------------------------------------------------->
  <ion-grid *ngIf="platform.isLandscape()" class="landscape">
    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <img alt="etudes" src="./assets/img/studies.png" horizontal="center" (click)="changePage(studiesPage)"
          id="studies" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.ETUDES' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <img alt="biblio" src="./assets/img/libraries.png" horizontal="center" (click)="changePage(libraryPage)"
          id="lib" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.LIBRARY' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <img alt="aide" src="./assets/img/support.png" horizontal="center" (click)="changePage(helpDeskPage)"
          id="support" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.HELP' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <img alt="logo" src="./assets/img/news.png" horizontal="center" (click)="changePage(newsPage)" id="news" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.NEWS' | translate}}</ion-text>
          </b></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <img alt="louvinfo" src="./assets/img/events.png" horizontal="center" (click)="changePage(eventPage)"
          id="event" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.EVENTS' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <img alt="sport" src="./assets/img/sports.png" horizontal="center" (click)="changePage(sportPage)" id="sport" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.SPORTS' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <img alt="carte" src="./assets/img/map.png" horizontal="center" (click)="changePage(mapPage)" id="map" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.MAP' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <img alt="resto" src="./assets/img/resto.png" horizontal="center" (click)="changePage(restoPage)" id="food" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.REST' | translate}}</ion-text>
          </b></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <img alt="voiture" src="./assets/img/mobility.png" horizontal="center" (click)="changePage(mobilityPage)"
          id="mobility" />
        <p horizontal="center"><b>
            <ion-text>{{'HOME.MOBILITY' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <img alt="param" src="./assets/img/settings.png" horizontal="center" (click)="changePage(paramPage)"
          id="settings" />
        <p horizontal="center"><b>
            <ion-text>{{'MENU.SETTINGS' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <img alt="guindaille" src="./assets/img/guindaille.png" horizontal="center" (click)="changePage(guindaillePage)"
          id="guindaille" />
        <p horizontal="center"><b>
            <ion-text>{{'MENU.GUINDAILLE' | translate}}</ion-text>
          </b></p>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <img alt="urgence" src="./assets/img/urgence.png" horizontal="center" (click)="emergency()" id="emergency" />
        <p horizontal="center"><b>
            <ion-text>{{'MENU.URG' | translate}}</ion-text>
          </b></p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="6" offset="3">
        <img class="five" alt="uclouvain" class="uclouvain" vertical="center" src="./assets/img/uclouvain.png"
          (click)="openUCL('http://www.uclouvain.be')" id="ucl" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button color="uclouvain" fill="clear" size="small" href='https://www.facebook.com/UCLouvain/'
          target="_blank">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="uclouvain" fill="clear" size="small" href='https://twitter.com/UCLouvain_be' target="_blank">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="uclouvain" fill="clear" size="small"
          href='https://www.linkedin.com/school/universite-catholique-de-louvain/' target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="uclouvain" fill="clear" size="small" href='https://www.instagram.com/uclouvain'
          target="_blank">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="uclouvain" fill="clear" size="small" href='https://www.youtube.com/user/universitedelouvain'
          target="_blank">
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>